@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: vazir;
  src: url("/src/assets/fonts/Vazir.ttf") format("truetype");
}

@font-face {
  font-family: cody;
  src: url("/src/assets/fonts/Codystar-Regular.ttf") format("truetype");
}

@font-face {
  font-family: shabnam;
  src: url("/src/assets/fonts/Shabnam.ttf") format("truetype");
}

@font-face {
  font-family: shabnamBold;
  src: url("/src/assets/fonts/Shabnam-Bold.ttf") format("truetype");
}