@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Vazir;
  src: url("assets/Vazir.ttf") format("truetype");
}

@font-face {
  font-family: Codystar;
  src: url("assets/Codystar-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Shabnam;
  src: url("assets/Shabnam.ttf") format("truetype");
}

@font-face {
  font-family: shabnamBold;
  src: url("assets/Shabnam-Bold.ttf") format("truetype");
}

body{
  background-color: #f5f6fa;
}