@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Vazir;
  src: url("assets/Vazir.ttf") format("truetype");
}

@font-face {
  font-family: Codystar;
  src: url("assets/Codystar-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Shabnam;
  src: url("assets/Shabnam.ttf") format("truetype");
}

@font-face {
  font-family: shabnamBold;
  src: url("assets/Shabnam-Bold.ttf") format("truetype");
}

body {
  background-color: #f5f6fa;
}

@layer components {
  /* HTML: <div class="loader"></div> */
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(#000 0 0);
    background:
      var(--c) 0% 100%,
      var(--c) 50% 100%,
      var(--c) 100% 100%;
    background-size: 20% 65%;
    animation: l5 1s infinite linear;
  }
  @keyframes l5 {
    20% {
      background-position:
        0% 50%,
        50% 100%,
        100% 100%;
    }
    40% {
      background-position:
        0% 0%,
        50% 50%,
        100% 100%;
    }
    60% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    80% {
      background-position:
        0% 100%,
        50% 100%,
        100% 0%;
    }
  }
}
